*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

header{
    padding-top: 80px;
    min-height: 985px;
    background-image: url('../img/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header > p{
    font-size: 30px;
    font-weight: lighter;
}

#more-info{
    padding-top: 50px;
}

#more-info p{
    font-size: 18px;
}

.nav-link{
    color: #8FA4E9 !important;
}

.pp{
    padding-right: 5px;
}

.btn{
    border-radius: 100px;
    padding: 10px 30px;
    margin-top: 20px;
}

.btn-cta{
    background-color: #8FA4E9;
    color: #fff;
}

.btn-cta-outline{
    background-color: #fff;
    color: #8FA4E9;
    border: 1px solid #8FA4E9;
}

.section-steps{
    margin-top: -33%;
    margin-bottom: 50px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    position: relative;
}

.section-steps .steps-item{
    background-color: #fff;
    padding: 12px;
    margin-right: 20px;
}

.section-steps img{
    margin: 20px;
    width: 64px;
}

.section-steps  h2{
    margin-top: 20px;
    font-size: 18px;
}

.verify{
    background-color: #fff;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 20px;
    padding: 5px 10px;
}

.done{
    background-color: #fff;
    border: 1px solid #28a745;
    color: #28a745;
    border-radius: 20px;
    padding: 5px 10px;
}

.badge img{
    height: 16px;
}

.action{
    background-color: #fff;
    border: 1px solid orange;
    color: orange;
    border-radius: 20px;
    padding: 5px 10px;
}


.divider-profile{
    margin-top: -11%;
    margin-left: 1%;
    position: relative;
}

.divider-profile img{
    border: 3px solid white;
    width: 75px;
    border-radius: 50%;
}

.body-number{
    margin-top: -3%;
}

.number-laporan{
    font-size: 30px;
    font-weight: 500;
}

aside{
    background-color: white;
}

.section-laporan .laporan-heading{
    margin-top: 20px;
    margin-bottom: 30px;
}

.section-laporan .laporan-heading h2{
    font-size: 25px;
}

.section-laporan .laporan-heading p{
    font-size: 60px;
    font-weight: bold;
}

.section-laporan-content .section-aduan .card-aduan{
    min-height: 300px;
    background-color: #fff;
    background-size: cover;
    padding: 30px;
    border-radius: 40px;
    border: 1px solid #c0c0c0;
    margin-bottom: 50px;
}

.section-laporan-content .section-aduan .aduan-judul h3{
    font-size: 25px;
    font-weight: bold;
}

.section-laporan-content .section-aduan .aduan-isi{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: lighter;
}

.section-laporan-content .section-aduan .aduan-pelapor .pelapor-image{
    float: left;
}

.section-laporan-content .section-aduan .aduan-pelapor h3{
    font-size: 16px;
    margin-bottom: 0;
}

.section-laporan-content .section-aduan .aduan-pelapor .description{
    float: left;
    margin-left: 10px;
    overflow: hidden;
}

.nama-laporan {
    padding-bottom: 0;
}

.pp-laporan{
    height: 5px;
}

.list-content-laporan{
    margin-top: 20px;
    margin-bottom: 35px;
}

.nama-laporan, .judul-laporan, .status-laporan, 
.isi-laporan, .komentar-laporan{
    padding-left: 0;
}

.nama-laporan span{
    font-size: 20px;
    color: #1B3C87;
}

.tgl-laporan{
    padding-top: 4px;
    padding-right: 0;
}

.tgl-laporan span{
    font-size: 12px;
    color: grey;
}

.komentar-laporan span{
    padding-right: 16px;
    font-size: 14px;
}

.kategori-laporan{
    margin-left: -15px;
}

.judul-laporan{
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #1B3C87;
}

.status-laporan{
    padding-top: 18px; 
    padding-right:0;
}

.isi-laporan{
    padding-top: 10px;
}

.jenis-laporan{
    padding-left: 0; 
    padding-top: 10px; 
    color: grey; 
    font-size: 14px;
}

.card-profile{
    padding:0;
}

.section-aspirasi{
    position: relative;   
    width: 100%;
    height: 500px;
    padding: 125px 0;
}

.section-aspirasi .message-aspirasi:before{
    content: '';
    position: absolute;
    background-image: url('../img/illustration2.png');
    bottom: 0;
    background-repeat: no-repeat;
    right: 0px;
    width: 390px;
    height: 100%;
}

.section-aspirasi .message-aspirasi{
    background-color: #DEF9F3;
    width: 100%;
    padding: 30px;  
}

/* Footer */
.img-footer{
    float: left;
}

.img-sosmed{
    width: 32px;
}

.footer-address{
    float: right;
    overflow: hidden;
}

.footer-address h2{
    font-size: 20px;
}

.footer-sosmed h4{
    font-size: 20px;
}

.footer-address p{
    font-size: 16px;
    letter-spacing: 0.7px;
}

@media only screen and (min-width: 992px) {
    .section-steps .steps-item:nth-child(2)::before{
        content: "";
        display: block;
        width: 100px;
        left: -35%;
        top: 22%;
        height: 2px;
        background: #000;
        position: absolute;
    }
    
    .section-steps .steps-item:nth-child(3)::before{
        content: "";
        display: block;
        width: 100px;
        left: -35%;
        top: 22%;
        height: 2px;
        background: #000;
        position: absolute;
    }
    
    .section-steps .steps-item:nth-child(4)::before{
        content: "";
        display: block;
        width: 100px;
        left: -35%;
        top: 22%;
        height: 2px;
        background: #000;
        position: absolute;
    }
    
    .section-steps .steps-item:nth-child(5)::before{
        content: "";
        display: block;
        width: 100px;
        left: -35%;
        top: 22%;
        height: 2px;
        background: #000;
        position: absolute;
    }
}
